@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    font-family: "Open Sans", sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: #9D4BEB;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content:space-between;
}

.logo{
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
}

.logo div{
    font-size: 20px;
    font-weight: 800;
}

.menu_item{
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu_item a{
    color: white;
    text-decoration: none;
}

.info{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.info div{
    display: flex;
    font-size: 14px;
}

.callbutton{
    background-color: orange;
    color: white;
    padding: 10px;
    border-radius: 20px;
    /* height: 40px;
    width: 200px; */
}


/* banner */
.banner{
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(#9D4BEB,#583AD6);
}


.banner_info{
    width: 80%;
    height: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    align-items: center;
}

.banner_info div{
    flex: 1;
    display: flex;
    flex-direction: column;
   justify-content: center;
   gap: 30px;
   height: fit-content;
}

.learn_button{
    height: fit-content;
    width: fit-content;
    background-color: #04D2C8;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.learn_text{
    color: white;
    font-size: 2.5em;
    font-weight: 600;
}

.bannerimage{
    content: "" !important;contain: "" !important;
height: 60vh !important;
background-image: url('./edu_ilastration.png.webp');
width: 100% !important; 

background-size: contain;
background-repeat: no-repeat;
}